In [1]:
import pandas as pd

In [2]:
from src.booth_cleanup.locality_dedup import LocalityDedup, LocalityMatch

In [3]:
new_df = pd.read_excel('new_booth_to_local_map.xlsx')
old_df = pd.read_excel('old_booth_to_local_map.xlsx')

In [4]:
new_localities = new_df.groupby('name2')['booth_num'].mean().reset_index()
old_localities = old_df.groupby('name2')['booth_number'].mean().reset_index()

In [5]:
new_locality_dedup = LocalityDedup(new_localities,locality_col='name2')
new_locality_dedup()

WARNING:recordlinkage:indexing - performance warning - A full index can result in large number of record pairs.

In [6]:
new_locality_dedup.short_list_df

,master_name,duplicate_name,new_booth_num,duplicate_booth_num,name_jw_score,name_lv_score,booth_score,average_score
0,BHARTHAULI,BHARATHAULI,19.0,22.0,0.961818,0.909091,1.0,0.96
1,CHANDPUR,CHANDAPUR,291.0,290.0,0.977778,0.888889,1.0,0.96
2,POKHRAHAN,POKHRAHA,64.0,65.0,0.977778,0.888889,1.0,0.96
3,BHATKUR,BHATAKUR,319.0,318.0,0.975000,0.875000,1.0,0.95
4,NAUGADH,NAUGAD,94.0,93.0,0.971429,0.857143,1.0,0.94
5,DOSMHA,DOSMA,321.0,322.0,0.966667,0.833333,1.0,0.93
6,DUMRI,DUMARI,315.0,316.0,0.961111,0.833333,1.0,0.93
7,PARSA,PARASA,99.0,100.0,0.914444,0.833333,1.0,0.92
8,MANDARAPURA,MADARPURA,75.0,77.0,0.892256,0.818182,1.0,0.90
9,PAWAI,PAVAI,222.0,222.0,0.893333,0.800000,1.0,0.90
10,POIVWAN,POIVA,113.0,114.0,0.942857,0.714286,1.0,0.89
11,BADWA,BADAVA,40.0,39.0,0.875556,0.666667,1.0,0.85
12,BHARKUR,BHAIROPUR,226.0,224.0,0.888889,0.666667,1.0,0.85
13,WAN,AWAN,36.0,34.0,0.805556,0.750000,1.0,0.85
14,BAGHOIKALA,BAGHOI,72.0,73.0,0.920000,0.600000,1.0,0.84
15,KARAHARA,KANABEHARI,121.0,120.0,0.826667,0.600000,1.0,0.81

In [7]:
to_remove_new_index = [12,15]
new_reviewed = new_locality_dedup.short_list_df.query('index not in @to_remove_new_index')
new_reviewed

,master_name,duplicate_name,new_booth_num,duplicate_booth_num,name_jw_score,name_lv_score,booth_score,average_score
0,BHARTHAULI,BHARATHAULI,19.0,22.0,0.961818,0.909091,1.0,0.96
1,CHANDPUR,CHANDAPUR,291.0,290.0,0.977778,0.888889,1.0,0.96
2,POKHRAHAN,POKHRAHA,64.0,65.0,0.977778,0.888889,1.0,0.96
3,BHATKUR,BHATAKUR,319.0,318.0,0.975000,0.875000,1.0,0.95
4,NAUGADH,NAUGAD,94.0,93.0,0.971429,0.857143,1.0,0.94
5,DOSMHA,DOSMA,321.0,322.0,0.966667,0.833333,1.0,0.93
6,DUMRI,DUMARI,315.0,316.0,0.961111,0.833333,1.0,0.93
7,PARSA,PARASA,99.0,100.0,0.914444,0.833333,1.0,0.92
8,MANDARAPURA,MADARPURA,75.0,77.0,0.892256,0.818182,1.0,0.90
9,PAWAI,PAVAI,222.0,222.0,0.893333,0.800000,1.0,0.90
10,POIVWAN,POIVA,113.0,114.0,0.942857,0.714286,1.0,0.89
11,BADWA,BADAVA,40.0,39.0,0.875556,0.666667,1.0,0.85
13,WAN,AWAN,36.0,34.0,0.805556,0.750000,1.0,0.85
14,BAGHOIKALA,BAGHOI,72.0,73.0,0.920000,0.600000,1.0,0.84

In [8]:
old_locality_dedup = LocalityDedup(old_localities,locality_col='name2',booth_num_col='booth_number')
old_locality_dedup()

WARNING:recordlinkage:indexing - performance warning - A full index can result in large number of record pairs.

In [9]:
old_locality_dedup.short_list_df

,master_name,duplicate_name,new_booth_num,duplicate_booth_num,name_jw_score,name_lv_score,booth_score,average_score
0,RAMABANDHA,RAMABANDH,150.0,151.0,0.980000,0.900000,1.000000,0.96
1,PIECHIDIKOLANI,PIECHIDIKALONI,124.0,125.0,0.985714,0.857143,1.000000,0.95
2,NEHUTI,NEHUTA,82.0,85.0,0.933333,0.833333,1.000000,0.92
3,PATANAVA,PADARAVA,13.0,10.0,0.866667,0.750000,1.000000,0.87
4,RAYAPURA,RAMAPUR,22.0,27.0,0.895238,0.750000,0.895025,0.85
5,FESARA,FESAR,60.0,53.5,0.966667,0.833333,0.712025,0.84
6,KARAHARA,KANABEHARI,106.0,105.0,0.826667,0.600000,1.000000,0.81
7,KHARADIHA,BASADIHA,221.0,217.0,0.805556,0.666667,0.972655,0.81
8,BAGOI,BAGAIYA,67.0,63.0,0.853333,0.571429,0.972655,0.80
9,HAJARIKARMA,BALAKARMA,201.0,203.0,0.757095,0.636364,1.000000,0.80
10,IBANAPUR,BAJITAPUR,97.0,100.0,0.836640,0.555556,1.000000,0.80

In [10]:
to_remove_old_index = [3,4,6,7,9,10]
old_reviewed = old_locality_dedup.short_list_df.query('index not in @to_remove_old_index')
old_reviewed

,master_name,duplicate_name,new_booth_num,duplicate_booth_num,name_jw_score,name_lv_score,booth_score,average_score
0,RAMABANDHA,RAMABANDH,150.0,151.0,0.980000,0.900000,1.000000,0.96
1,PIECHIDIKOLANI,PIECHIDIKALONI,124.0,125.0,0.985714,0.857143,1.000000,0.95
2,NEHUTI,NEHUTA,82.0,85.0,0.933333,0.833333,1.000000,0.92
5,FESARA,FESAR,60.0,53.5,0.966667,0.833333,0.712025,0.84
8,BAGOI,BAGAIYA,67.0,63.0,0.853333,0.571429,0.972655,0.80

In [11]:
new_booth_locality = new_df[['booth_num','new_names','name2']]\
                        .join(new_reviewed[['duplicate_name','master_name']].set_index('duplicate_name'),on='name2')

In [12]:
new_booth_locality.loc[new_booth_locality['master_name'].isnull(),'master_name'] = new_booth_locality\
                                                                .loc[new_booth_locality['master_name'].isnull(),'name2']

In [13]:
old_booth_locality = old_df[['booth_number','booth_name','name2']]\
                        .join(old_reviewed[['duplicate_name','master_name']].set_index('duplicate_name'),on='name2')

old_booth_locality.loc[old_booth_locality['master_name'].isnull(),'master_name'] = old_booth_locality\
                                                                .loc[old_booth_locality['master_name'].isnull(),'name2']
old_booth_locality

,booth_number,booth_name,name2,master_name
0,1,Uchcha Vighalay Jamhor Purwi Bhag,JAMHOR,JAMHOR
1,2,Uchcha Vighalay Jamhor Purwi Madhya Bhag,JAMHOR,JAMHOR
2,3,Uchcha Vighalay Jamhor Pashchimi Bhag,JAMHOR,JAMHOR
3,4,Uchcha Vighalay Jamhor Pashchimi Madhya Bhag,JAMHOR,JAMHOR
4,5,Madhya Vighalay Jamhor Purwi Bhag,JAMHOR,JAMHOR
...,...,...,...,...
268,269,Utkramit Madhya Vidyalay Dumari,DUMARI,DUMARI
269,270,Utkramit Madhya Vidyalay Narayanapur,NARAYANAPUR,NARAYANAPUR
270,271,Prathamik Vidyalay Bhatakur,BHATAKUR,BHATAKUR
271,272,Utkramit Madhya Vidyalay Padariya,PADARIYA,PADARIYA
272,273,Utkramit Madhya Vidyalay Dosama,DOSAMA,DOSAMA

In [14]:
old_booth_locality['booth_rank'] = old_booth_locality['booth_number']/old_booth_locality['booth_number'].max()
new_booth_locality['booth_rank'] = new_booth_locality['booth_num']/new_booth_locality['booth_num'].max()

In [15]:
old_localities = old_booth_locality.groupby('master_name')['booth_rank'].mean().reset_index()
new_localities = new_booth_locality.groupby('master_name')['booth_rank'].mean().reset_index()

In [16]:
locality_matcher = LocalityMatch(new_localities,old_localities,locality_col='master_name',booth_num_col='booth_rank')
locality_matcher()

WARNING:recordlinkage:indexing - performance warning - A full index can result in large number of record pairs.

In [21]:
locality_matcher.all_matched.to_csv('data/all_localities_matched.csv',index=False)

In [17]:
match_candidates = pd.DataFrame(list(enumerate(pair.values.tolist() for pair in locality_matcher.connected_componentsbb)))

In [19]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None,'display.max_colwidth', -1):
    display(match_candidates)

       0                                                                 1
0    0    [(6, 6)]
1    1    [(AJAB, AJAB)]
2    2    [(AJANIYA, AJANIYA)]
3    3    [(AKAUNA, AKAUNA)]
4    4    [(ALAMPUR, ALAMAPUR)]
5    5    [(AURANGABAD, AURANGABAD)]
6    6    [(BABHANADI, BABHANADI)]
7    7    [(BADAVA, BADWA)]
8    8    [(BAGOI, BAGAIYA), (KATAIYA, BAGAIYA), (KATAIYA, KATAIYA)]
9    9    [(BAGHOIKALA, BAGHOIKALA)]
10   10   [(BAHUAARA, BAHUARA), (BAHUARA, BAHUARA)]
11   11   [(BAJAR, BAJAR)]
12   12   [(BAJITAPUR, BAJITAPUR)]
13   13   [(BAKAN, BAKAN), (BAKAN, AVAN)]
14   14   [(BALAKARMA, BALAKARAMA)]
15   15   [(BALAPOKHAR, BALAPOKHAR)]
16   16   [(BANAHI, BANAHI)]
17   17   [(BARAI, BARAI)]
18   18   [(BARATAPUR, BARATAPUR)]
19   19   [(BASADIHA, BASADIHA)]
20   20   [(BATAVA, BATAVA)]
21   21   [(BEDHANI, BEDHANI)]
22   22   [(BELA, BELA)]
23   23   [(BELASARA, BELASARA)]
24   24   [(BELI, BELI)]
25   25   [(BHAIROPUR, BHAIROPUR)]
26   26   [(BHALUHARA, BHALUHARA)]
27   27   [(BHARAVAR, BHARAVAR)]
28   28   [(BHARKUR, BHATAKUR), (BHATAKUR, BHATKUR)]
29   29   [(BHARATHAULI, BHARTHAULI)]
30   30   [(BHEDIYA, BHEDIYA), (BHEDIYA, PIECHIDIKOLANI)]
31   31   [(BIJAULI, BIJAULI)]
32   32   [(BIJOI, BIJOI)]
33   33   [(BISAINI, BISAINI)]
34   34   [(CHAINPUR, CHAINAPUR)]
35   35   [(CHANDAULI, CHANDAULI)]
36   36   [(CHANDAPUR, CHANDPUR)]
37   37   [(CHATARA, CHATARA)]
38   38   [(CHAUKHADA, CHAUKHADA)]
39   39   [(CHIRIYA, CHAURIYA)]
40   40   [(CHITRAGOPI, CHITRAGOPI)]
41   41   [(COLLEGE, COLONY)]
42   42   [(VIDNYAN, DAYA), (DABURA, DABURA), (DABURA, DAYA)]
43   43   [(DADHAPA, DADHAPA)]
44   44   [(DAMAUL, DHAMAUL)]
45   45   [(DARIYAPUR, DARIYAPUR)]
46   46   [(DEV, DEV)]
47   47   [(DEVADHARI, DEVADHARI)]
48   48   [(DEVAHARA, DEVAHARA)]
49   49   [(DEVARIYA, DEVARIYA)]
50   50   [(DHAMARPUR, DHAMARPUR)]
51   51   [(DHANARI, DHANADI)]
52   52   [(DHANAV, DHANANV)]
53   53   [(DHANDHAVA, DHANDHAVA)]
54   54   [(DHARANIDHAR, DHARANIDHAR)]
55   55   [(DIHRI, DIHARI)]
56   56   [(DOSAMA, DOSAMA), (DOSAMA, DOSMHA)]
57   57   [(DUMRI, DUMARI)]
58   58   [(ERAKI, ERAKI)]
59   59   [(ERAURA, ERAURA), (ERAURA, LEPURA)]
60   60   [(FESAR, FESARA), (FESARA, FESARA)]
61   61   [(FULAVARIYA, FULAVARIYA)]
62   62   [(GAMHARI, GAMHARI)]
63   63   [(GANGATI, GANGATI)]
64   64   [(GURAGAIYA, GURAGAIYA)]
65   65   [(HAJARIKARMA, HAJARIKARMA)]
66   66   [(HARANAHI, HARANAHI)]
67   67   [(HARIHAR, HARIHAR)]
68   68   [(HASAULI, HASAULI)]
69   69   [(HETAMAPUR, HETAMAPUR)]
70   70   [(IPUR, I), (IPUR, IPUR)]
71   71   [(IBANAPUR, IBANAPUR)]
72   72   [(IBRAHIMAPUR, IBRAHIMAPUR)]
73   73   [(ISRAUR, ISARAUR)]
74   74   [(JAGAPUR, JAGAPUR), (JAGAPUR, JAGDISHPUR)]
75   75   [(JAMHOR, JAMHOR)]
76   76   [(JARAMAKHAP, JARAMAKHAP)]
77   77   [(JASOIYA, JASOIYA)]
78   78   [(JOKAHARI, JOKAHARI)]
79   79   [(KAJI, KAJI)]
80   80   [(KALA, KALA)]
81   81   [(KANABEHARI, KANABEHARI)]
82   82   [(KANATARI, KANATARI)]
83   83   [(KANCHANPUR, KANCHANAPUR)]
84   84   [(KAPASIYA, KAPASIYA)]
85   85   [(KARAHARA, KARAHARA)]
86   86   [(KARAMA, KARMA)]
87   87   [(KARANJA, KARANJA)]
88   88   [(KARIYAVA, KARIYAVA)]
89   89   [(KASAV, KASAV)]
90   90   [(KATHAUTIYA, KATHAUTIRYA)]
91   91   [(KESAUR, KESHAUR)]
92   92   [(KETAKI, KETAKI)]
93   93   [(KHADIHA, KHADIHA), (KHADIHA, KHARDIHA), (KHARADIHA, KHARDIHA)]
94   94   [(KHAIRABINDA, KHAIRABINDA)]
95   95   [(KHAIRI, KHAIRI), (KHAIRI, KHAIRA)]
96   96   [(KHAKHADA, KHAKHADA)]
97   97   [(KHEMACHAND, KHEMCHAND)]
98   98   [(KOSADIHARA, KOSADIHARA)]
99   99   [(KOSIYARI, KOSIYARI)]
100  100  [(KENDRA, KUNDA), (KUNDA, KUNDA)]
101  101  [(KURAMHA, KURAMHA)]
102  102  [(KUSHI, KUSHI), (KUSHI, DAKSHNI)]
103  103  [(MALAHARA, MALAHARA)]
104  104  [(MAMAKA, MAMAKA)]
105  105  [(MANDARAPURA, MANDARAPURA)]
106  106  [(MIRZA, MANZAR), (MANZAR, MANJHAR)]
107  107  [(MANJURAHI, MANJURAHI)]
108  108  [(MAULANAGAR, MAULANAGAR)]
109  109  [(MOHIDINAPUR, MOHIDINAPUR)]
110  110  [(NARA, NARA), (NARA, N)]
111  111  [(NARACHI, NARACHI)]
112  112  [(NARAYANAPUR, NARAYANAPUR)]
113  113  [(NAUGADH, NAUGAD)]
114  114  [(NAVADIH, NAVADIH)]
115  115  [(NEHUTI, NEHUTA)]
116  116  [(NEPAVA, NEPAVA)]
117  117  [(ORA, ORA)]
118  118  [(Others, Others)]
119  119  [(PARASAN, PADRAWAN)]
120  120  [(PADARAVA, PAHARAMA), (PAHARAMA, PAHARAMA)]
121  121  [(PANDEY, PANDEY)]
122  122  [(PADARIYA, PARARIYA)]
123  123  [(PARASANVIGHA, PARASADIH), (PARASADIH, PARASADIH)]
124  124  [(PARASI, PARASI)]
125  125  [(PARASA, PARSA)]
126  126  [(PATANAVA, PATANAVA)]
127  127  [(PAVAI, PAWAI)]
128  128  [(PIPARA, PIPARA)]
129  129  [(PIRAUTA, PIRAUTA)]
130  130  [(POIVWAN, POIVWAN)]
131  131  [(POKHAR, POKHAR)]
132  132  [(POKHARAHA, POKHRAHAN)]
133  133  [(RADHAULIYA, RADHAULIYA)]
134  134  [(RAJA, RAJA)]
135  135  [(RAJOI, RAJOI)]
136  136  [(RAJUPAR, RAJPUR)]
137  137  [(RAKHUA, RAKHUA)]
138  138  [(RAMABANDHA, RAMABANDH)]
139  139  [(RAMPUR, RAMAPUR)]
140  140  [(RAVAL, RAWAL)]
141  141  [(RAYAPURA, RAYAPURA)]
142  142  [(SAHEYA, SAHEYA)]
143  143  [(SARIM, SALEM), (SARIM, SARIM)]
144  144  [(SARGAWAN, SARAGANVA)]
145  145  [(SATAVAT, SATVAT)]
146  146  [(SHEKHAPURA, SHEKHAPURA)]
147  147  [(SILAR, SILAR)]
148  148  [(SIMARA, SIMARA)]
149  149  [(SIMARIYA, SIMARIYA)]
150  150  [(SOHRAREYA, SOHRAREYA)]
151  151  [(SONAVARSHA, SONAVARSHA)]
152  152  [(SUHI, SUHI)]
153  153  [(SUSANAR, SUSANAR)]
154  154  [(TENDUA, TENDUA)]
155  155  [(TETARIYA, TETARIYA)]
156  156  [(TITAI, TITAI)]
157  157  [(TOLI, TOLI)]
158  158  [(UNTHU, UNTHU)]
159  159  [(UPARADAHA, UPARADAHA)]
160  160  [(VISHRAMAPUR, VISHRAMAPUR), (VISHRAMAPUR, VI)]
161  161  [(VISHUNAPUR, VISHUNAPUR)]
162  162  [(WAN, WAN)]
163  163  [(YADUPUR, YADUPUR)]
164  164  [(YARI, YARI)]
165  165  [(ZHIKATIYA, ZHIKATIYA)]

# Linkage

In [ ]:
import pandas as pd
import recordlinkage
import recordlinkage.preprocessing
import numpy as np

In [ ]:
indexer = recordlinkage.Index()
indexer.full()
candidate_links = indexer.index(new_localities,old_localities)

In [ ]:
new_localities['metaphone'] = recordlinkage.preprocessing.phonetic(new_localities['master_name'],method="metaphone")
old_localities['metaphone'] = recordlinkage.preprocessing.phonetic(old_localities['master_name'],method="metaphone")

In [ ]:
compare_booths = recordlinkage.Compare()

#Get Levenshtein score booth name
compare_booths.string('master_name', 'master_name', method='levenshtein', threshold=None, label='name_lv_score')

#Get Jaro-Winkler Score for booth name
compare_booths.string('master_name', 'master_name', method='jarowinkler', threshold=None, label='name_jw_score')

#Get Jaro-winkler score for the way the name is pronounced
compare_booths.string('metaphone', 'metaphone', method='levenshtein', threshold=None, label='metaphone')

#Get score for how far apart the booth numbers are
compare_booths.numeric('booth_rank', 'booth_rank', label='booth_number_score',method="gauss",offset=3,scale=5)

In [ ]:
features = compare_booths.compute(candidate_links, new_localities,old_localities)

In [ ]:
features

In [ ]:
match_index = features.index.values
master_name_index = [x[0] for x in match_index]
new_names = new_localities.iloc[master_name_index].copy()

old_name_index = [x[1] for x in match_index]
old_names = old_localities.iloc[old_name_index]

In [ ]:
old_names

In [ ]:
new_names['old_name'] = old_names.master_name.tolist()
new_names['old_booth_rank'] = old_names.booth_rank.tolist()
new_names['name_jw_score'] = features.name_jw_score.tolist()
new_names['name_lv_score'] = features.name_lv_score.tolist()
new_names['booth_score'] = features.booth_number_score.tolist()
new_names['metaphone'] = features.metaphone.tolist()
#master_names['duplicate_candidate_name'] = duplicate_names.name2.tolist()

In [ ]:
new_names['average_score'] = new_names[['name_jw_score','name_lv_score','booth_score']]\
                                .apply(lambda x:x.mean(),axis=1).round(2)

In [ ]:
new_names.columns

In [ ]:
new_names = new_names[['master_name','old_name','booth_rank','old_booth_rank',
                            'name_jw_score',"name_lv_score",'booth_score','average_score']]

In [ ]:
new_names = new_names.reset_index(drop=True)

In [ ]:
new_names.to_csv('data/matched_localities_twoc.csv',index=False)

In [ ]:
new_names

In [ ]:
new_name_matched = new_names.iloc[new_names.groupby('master_name')['average_score'].idxmax()].copy()

In [ ]:
new_name_matched['matched_on'] = 'new_name'

In [ ]:
missing_old_localities = old_localities.loc[~old_localities.master_name.isin(new_name_matched.old_name)]['master_name']
to_add_old = new_names.query('old_name in @missing_old_localities').reset_index(drop=True)
to_add_old = to_add_old.iloc[to_add_old.groupby('old_name')['average_score'].idxmax()]
to_add_old['matched_on'] = 'old_name'

In [ ]:
all_matched = new_name_matched.append(to_add_old)

In [ ]:
all_matched.to_csv('data/all_localities_matched.csv',index=False)

In [ ]:
matched_index = pd.MultiIndex.from_frame(all_matched[['master_name','old_name']])

In [ ]:
cc = recordlinkage.ConnectedComponents()

In [ ]:
all_pairs = cc.compute(matched_index)

In [ ]:
all_pairs

In [ ]:
match_candidates = pd.DataFrame(list(enumerate(pair.values.tolist() for pair in all_pairs)))

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None,'display.max_colwidth', -1):
    display(match_candidates)